@import url('https://cdn.syncfusion.com/ej2/material.css');
.Date {
  padding-left: 87px;
  padding-right: 150px;
  margin-top: 30px;
  text-align: center;
  border-radius: 4px;
  display: flex;

  max-width: 80rem;
}
input {
  width: 80%;
  padding: 8px;
  border-radius: 4px;

  background-color: yellow;
  color: black;
  text-align: center;
}

.heading {
  text-align: center;
  padding-left: 60px;
  padding-right: 140px;
}

.Time {
  padding-left: 87px;
  padding-right: 150px;
  margin-top: 30px;
  text-align: center;
  border-radius: 4px;
  display: flex;

  max-width: 80rem;
}

.Text {
  padding-left: 87px;
  padding-right: 200px;
  margin-top: 40px;
  width: '65%';
}

body {
  background:rgb(16, 90, 124);
}
.button {
  margin-top: 20px;

  cursor: pointer;

  background-color: yellow;
  padding-right: 12px;
  width: fit-content;
  align-items: center;
  border-radius: 5px;
  box-shadow: inset;
}
.edit {
  margin-top: 20px;

  cursor: pointer;
  color: rgb(255, 0, 76);
  background-color: rgb(162, 226, 43);
  padding-left: 80px;
  width: fit-content;
  align-items: center;
}
button {
  color: yellow;
  background-color: palevioletred;
}
